@tailwind utilities;
@tailwind base;
@tailwind components;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@layer base{
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  .preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("./images/backiee-818-landscape.jpg");
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top: 5px solid #007bff;
    border-radius: 50%;
    animation: spin 3s ease-in-out infinite;
  }
  .page{
    transition: ease-in-out 0.70s;
  }
  
  @keyframes spin {
    to {
        transform: rotate(360deg);
    }
  }
  .home
  {
    background-image:url("./images/laptop_1.jpg");
    background-size:cover;
    background-position:center;
  }
  .myImage{
    background-image:url("./images/backiee-818-landscape.jpg");
  }
  
}
/* Preloader.css */

