*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
header{
	padding:5px 0 5px 20px;
	box-shadow:0 2.9825px 7.4564px rgba(0,0,0, 0.1);
	/* background-color: red; */
	/* box-shadow:0  5px rgba( 166, 172, 175 ,0.3); */
}
.logo{
	width:120px;
}
.hero-content{
	/* border:3px solid yellow; */
	width:1200px;
	max-width: 90%;
	margin:5px auto 0;
}
.bnbStack{
	width:580px;
	max-width:80%;
	/* border:2px solid black; */
	margin:0 auto;
	display: block;
}
.hero-text{
	width:580px;
	max-width:80%;
	margin: 2px auto 0;
}
.data_container{
	/* background-color: rgb(192, 37, 37); */
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	width:1200px;
	margin:0 auto;
	gap:1em;
	align-items: center;
	justify-content:center;
}
.card-sub{
	margin:25px 0 0;
	width:320px;
	max-width: 100%;
	/* border:2px solid black; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding:10px;
	position: relative;
}

.card-sub img{	
	width:229px;
	height: 300px;
	border-radius: 10px;
}
.info-group{
	width:229px;
	/* background-color: red; */
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
}
.info-group a{
	text-decoration: none;
	color:black;	
}
.info-group a:hover{
	color:rgba(106, 224, 185, 0.726);
}
.slots{
	position:absolute;
	color:white;
	top:20px;
	left:63px;
	background-color: black;
	border-radius: 5px;
	padding:3px 20px;
}
/* .hero{
	border: 2px solid red; 
} */
/* .card-section{
	border:2px solid black;
} */
/* WARNING :: DO NOT USE : only use for the card_component module
.card-container{
	display: flex;
	width:1200px;
	border:2px solid blueviolet; 
	gap:3rem;
	margin:0 auto;
	/* justify-content: space-evenly;  
}these element is removed in the js file only reuse it */