*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: rgb(98, 98, 212);
    height:50px;
    padding:10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 30px;
}
.course{
    font-size: 20px;
}
.home form{
    width:900px;
    max-width: 100%;
    background-color: rgb(39, 38, 38);
    margin:50px auto;
    padding:100px;
    border-radius: 10px;
}
.seperator{
    width:100%;
    /* background-color: red; */
    display: flex;
    gap:70px;
    justify-content:flex-start;
}
form input[type="text"]{
    width: 45%;
    padding:10px;
    border-radius: 5px;
}

button{
    margin-top:20px;
    display: block;
    width:100%;
    padding:5px 10px;
}
