*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --header-color:white;
}
header{
    padding:5px 20px;
	box-shadow:0 2.9825px 7.4564px rgba(0,0,0, 0.1);
    height:60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb( 46, 64, 83 );
}
.nav-bar{
    width:300px;
    list-style:none;
    display: flex;
    justify-content: space-between;
}
.nav-bar li a{
    text-decoration: none;
    color:var(--header-color);
    font-size:22px;
    text-transform: uppercase;
}

.logo img{
    width:50px;
    height: auto;
    border-radius: 55%;
}
.touristInfo{
    padding:20px;
    display: flex;
    gap:2rem;
}
.touristInfo  img{
    object-fit:fill;
    width:120px;
    height:170px;
    border-radius: 10px;
}
.dates{
    display: flex;
    gap:1rem;
}
.imageHolder{
    width:130px;
    max-width: 100%;
    /* background-color: red; */
}
.touristHolder{
    background-color: aliceblue;
    width:800px;
    max-width: 100%;
    margin:20px auto;
    border-radius: 10px;
}